{% extends "quora/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4">Bienvenue sur Quora</h1>
        <p class="lead">Posez des questions, obtenez des réponses et partagez vos connaissances.</p>
    </div>

    {% if user.is_authenticated %}
        <a href="{% url 'ask_question' %}" class="btn btn-primary mb-3">Posez une question</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary mb-3"> posez une question</a>
        
    {% endif %}

    <h2>Questions</h2>
    <ul class="list-group">
        {% for question in questions %}
            <li class="list-group-item">
                <a href="{% url 'answer_question' question.id %}">{{ question.title }}</a>
                <p>par {{ question.user.username }} le {{ question.created_at }}</p>
                <p>{{ question.content }}</p>
                {% if user.is_authenticated %}
                    <a href="{% url 'answer_question' question.id %}" class="btn btn-secondary mt-2">Répondre</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-secondary mt-2"> Répondez</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
